@font-face {
  font-family: "productSansReg";
  src: url("font/ProductSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "productSansBold";
  src: url("font/ProductSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "proximaNovaReg";
  src: url("font/proximanova-regular.otf");
}

@font-face {
  font-family: "proximaNovaLight";
  src: url("font/ProximaNovaLight.otf");
}

@font-face {
  font-family: "proximaNovaSemiBold";
  src: url("font/ProximaNovaSemiboldItalic.ttf");
}
